@font-face {
  font-family: 'Cairo-Regular';
  src: url('Fonts/Font/Cairo-Regular.ttf');
}

body,
html {
  font-family: 'Cairo-Regular' !important;
  scroll-behavior: smooth;
  text-align: right !important;
}
@media (min-width: 575px) {
  .container {
    max-width: 1367px !important;
  }
}
